@font-face {
    font-family: "ff";
    src: url("../fonts/gt.woff2") format("woff2");
}

@font-face {
    font-family: "ff-black";
    src: url("../fonts/gt-black.woff2") format("woff2");
}

:root {
    --main-color: white;
    --font-color: black;
}

* {
    font-family: "ff";
    font-size: 15px;
}

body {
    background-color: var(--main-color);
    color: var(--font-color);
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

#logo{
    width: 40px;
}

legend{
    background: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "ff-black";
}

fieldset {
    border: 0px;
    border-top: 1px solid black;
    margin: 20px;
    margin-top: 10px;
}

label {
    display: inline;
}

select, option {
    display: inline;
    margin-top: 10px;
    background-color: black;
    color: white;
    line-height: 1.3;
    font-family: "ff";
    width: 350px;
}

select {
    background-color: white;
    color: black;
    border: 1px solid black;
}

input{
    margin-bottom: 10px;
    font-family: "ff";
}

.row{
    display: block;
}

button {
    border-radius: .5em;
    background-color: black;
    color: white;
    display: inline;
    line-height: 1.3;
}

#midi-inputs{
    margin-left: 10px;
}

#midi-outputs{
    margin-left: 10px;
}

#pattern{
    margin-top: 30px;
}

#save {
    margin: 10px;
    margin-right: 2px;
    margin-bottom: 5px;
    width: 20px;
    cursor: pointer;
}

#load {
    margin: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 20px;
    cursor: pointer;
}

#metronome {
    margin: 10px;
    margin-left: 1px;
    margin-bottom: 5px;
    width: 20px;
    cursor: pointer;
}

#network {
    margin: 10px;
    margin-left: 1px;
    margin-bottom: 5px;
    cursor: pointer;
}

#midi {
    margin: 10px;
    margin-left: 1px;
    margin-bottom: 5px;
    cursor: pointer;
}

#log {
    display: inline;
    float: right;
    margin-right: 20px;
    font-size: 15px;
}

.icon-selected {
    transition: 1s;
    filter: opacity(25%);
}

.panel1-in {
    position: absolute;
    left: 40px;
    top: 90px;
    transition: 1s;
}

.panel1-out {
    position: absolute;
    left: -530px;
    top: 90px;
    transition: 1s;
}

.panel2-in {
    position: absolute;
    left: 40px;
    top: 100px;
    transition: 1s;
}

.panel2-out {
    position: absolute;
    left: 610px;
    top: 100px;
    transition: 1s;
}

#server-ip{
    margin-left: 10px;
    border:1px solid black;
}

#pair-id{
    margin-left: 64px;
    border:1px solid black;
}

.log-clickable{
    cursor: pointer;
}

.log-clickable:hover{
    text-decoration: underline;
}
